{% extends 'base.html.twig' %}

{% block body %}
    <ul class="row mosaique-film" id="filmsList">
        {% for mot in mots %}
            <li>
                 <a href="{{ path('showDefinitionMot', {'id': mot.id}) }}">{{mot.terme}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
