{% extends 'base.html.twig' %}

{% block body %}
    <ul class="row mosaique-film" id="filmsList">
        {% for mot in mots %}
            <li>
                <p>{{mot.terme}}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
